<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head') %>
    <title>LinuxHub | DashBoard</title>
</head>
<body>
    <%- include('./master/header') %>
    <nav class="container-fluid py-3 pt-2">
        <!-- form response -->
        <table class="table">
            <thead>
                <tr class="jumbotron ">
                    <th colspan="4">Users' messages</th>
                </tr>
                <tr>
                    <th width="20%">Full name :</th>
                    <th width="20%">Email :</th>
                    <th colspan="2">Message :</th>
                </tr>
            </thead>
            <tbody>
                <%-UsersMessages %>
            </tbody>
        </table>
        <!-- general statistics -->
        <table class="table text-center">
            <thead>
                <tr class="jumbotron ">
                    <th colspan="4">General Statistics</th>
                </tr>
                <tr>
                    <th>Views</th>
                    <th>Tutorials</th>
                    <th>Courses</th>
                    <th>Quizzes</th>
                </tr>
            </thead>
            <tbody>
                <%-stcs %>
            </tbody>
        </table>
        <!-- Edit test's links -->
        <form action="/da4ebrd" method="post">
         <table class="table">
            <thead>
                <tr class="jumbotron">
                    <th colspan="2">Test links</th>
                </tr>
                <tr>
                    <th width="150px">Level</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Novice</td>
                        <td>
                            <input type="url" name="Novice" value="<%=lnks[3] %>" class="form-control" placeholder="https://example.com" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Beginner</td>
                        <td>
                            <input type="url" name="Beginner" value="<%=lnks[1] %>" class="form-control" placeholder="https://example.com" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Intermediate</td>
                        <td>
                            <input type="url" name="Intermediate" value="<%=lnks[2] %>" class="form-control" placeholder="https://example.com" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Advanced</td>
                        <td>
                            <input type="url" name="advanced" value="<%=lnks[0] %>" class="form-control" placeholder="https://example.com" required>
                        </td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" >
                        <input type="submit" class="btn btn-success" value="Save changes" id="savingLinks">
                    </td> 
                </tr>
            </tfoot>
         </table>
        </form>
         <!-- list of learn's content  -->
        <table class="table">
            <thead>
                <tr class="jumbotron ">
                    <th colspan="5">Learn Content</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>langauge</th>
                    <th>link</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <%-learnsTable %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a class="btn btn-success text-light" href="/add" target="_blank">Add New</a>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="container-fluid formsDivParent">
            <!-- add content learn -->
            <div class="border p-3 rounded">
                <form method="post" action="/">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Full name :</label>
                      <input type="text" name="fullName" maxlength="30" class="form-control" placeholder="enter the member's name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Rank :</label>
                        <input type="text" name="rank" maxlength="30" class="form-control" placeholder="for example : designer ... ">
                    </div>
                    <div class="input-group pt-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">GitHub :</span>
                        </div>
                        <input type="url" name="github" class="form-control">
                    </div>
                    <div class="input-group pt-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Instagram :</span>
                        </div>
                        <input type="url" name="insta" class="form-control">
                    </div>
                    <div class="input-group pt-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">LinkedIn :</span>
                        </div>
                        <input type="url" name="linkdeIn" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="img">Logo : </label>
                        <input type="file" name="logo" class="form-control-file" accept=".jpg .png .jpeg">
                    </div>
                    <input type="submit" value="Add new" class="btn btn-success float-center">
                </form>
            </div>
            <!-- add new team's members -->
            <div class="border p-3 rounded">
                <form method="post" action="/learn">
                    <div class="form-group">
                      <label for="title">Title :</label>
                      <input type="text" name="title" maxlength="30" class="form-control" placeholder="for ex : what's linux ?!">
                    </div>
                    <div class="form-group">
                        <label for="etype">Type :</label>
                        <select class="form-control" name="etype">
                          <option value="tutorials">Tutorials</option>
                          <option value="courses">Courses</option>
                          <option value="quizzes">Quizzes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lang">Langauge :</label>
                        <select class="custom-select" name="lang">
                          <option value="tutorials">Arabic</option>
                          <option value="courses">English</option>
                          <option value="quizzes">French</option>
                          <option value="quizzes">Spanish</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">Link :</span>
                        </div>
                        <input type="url" name="insta" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="img">Wallpaper Image</label>
                        <input type="file" name="img" class="form-control-file" accept=".jpg .png .jpeg">
                    </div>
                    <input type="submit" value="Add new" class="btn btn-success float-center">
                </form>
            </div>
        </div>
    </nav>
    <%- include('./master/footer') %>
    <script src="/javascripts/scriptSecond.js"></script>
</body>
</html>